
/*Exemplo de CSS Externo*/
body{
    background-color: rgb(70, 200, 250);
}

ul{
    background-color: rgb(10, 100, 200);    
}

li{
    background-color: cornflowerblue;
}

li a{
    background-color: rgb(2, 2, 31);
}
p{
    text-align: center;
    font-size: 17px;
}